################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ocelotsample/v16
/.vs
/Gateway/bin/Debug/netcoreapp3.1
/Gateway/obj
/TestWebApi/bin/Debug/netcoreapp3.1
/TestWebApi/obj
